.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header::after {
    content: "";
    border-bottom: 1px solid #545454;
    opacity: 0.7;
    display: block;
}

@media screen and (max-width: 940px) { /* игнорируем паддинг страницы, для растягивания полосы на весь экран*/
    .header::after {
        margin: 0 -20px 0;
    }
}

@media screen and (max-width: 480px) { 
    .header::after {
        margin: 0 -19px 0;
    }
}