.popup__save-button {
    width: 100%;
    padding: 14px 0 18px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    background-color: #000;
    color: #fff;
    border-radius: 2px;
    border: none;
    margin-top: 48px;
}

@media screen and (max-width: 600px) {
    .popup__save-button {
        font-size: 14px;
        padding-bottom: 14px;
    }
}